# lora
datasets>=2.12.0
peft>=0.4.0
bitsandbytes>=0.42.0
accelerate>=0.20.0
tokenizers>=0.13.0

# torch
numpy>=1.24.0
torch>=2.0.0
pandas>=1.5.0
pytorch-lightning>=2.0.0
wandb>=0.15.0
pydantic>=2.7.4
python-dotenv>=1.0.0
biopython>=1.80
